<footer class="fl-bar fl-bar--bottom">
	<div class="fl-bar__footer">
		<%- partial('_partial/footer-nav') %>
	</div>
	<div class="fl-bar__additional">
		<%- partial('_partial/next-article', {post: post}) %>
	</div>
</footer>