<header class="fl-bar fl-bar--top">
	<div class="fl-bar__menu-trigger">Menu</div>
	<div class="fl-bar__logo">
		<a href="<%= config.root %>">
			Logo
		</a>
	</div>
	<%- partial('_partial/header-nav--for-large') %>
	<!-- <div class="fl-bar__additional">
		Search and such
	</div> -->
</header>