<div class="fl-article-layout">
	<div class="fl-article-layout__left">
		<div class="fl-article-layout__left__view">
		</div>
	</div>
	<div class="fl-article-layout__right">
		<div class="fl-article-layout__right__inner">
			<%- page.content %>
		</div>
	</div>
</div>