<div class="fl-article-layout">
	<div class="fl-article-layout__left">
		<div class="fl-article-layout__left__view">
		</div>
	</div>
	<div class="fl-article-layout__right">
		<div class="fl-article-layout__right__inner">
			<div class="fl-content">
				<div class="fl-content__intro">
					<%- page.intro %>
				</div>
				<div class="fl-content__authors">
					<div class="fl-content__authors__left">
						<% if(page.author) { %>
							<span>Written by </span>
							<a href="<%= page.author.instagram %>"><%= page.author.name %></a>
						<% } %>
						<span class="fl-content__authors__divider">·</span>
						<span>Photography by </span>
						<a href="#">Skeg Mackey</a>
					</div>
				</div>
				<div class="fl-content__article">
					<%- page.content %>
				</div>
			</div>
		</div>
	</div>
</div>