<%- page.content %>

<h2>Header</h2>
<%- partial('_partial/header') %>

<h2>Page footer</h2>
<%- partial('_partial/page-footer') %>


<h2>Post title</h2>
<div style="max-width: 400px;">
	<div class="fl-media fl-media--landscape">
		<div class="fl-post-title">
			<h2 class="fl-post-title__title">
				Haroshi - A Huf Story
			</h2>
			<div class="fl-post-title__divider"></div>
			<p class="fl-post-title__teaser">
				Read article
			</p>
		</div>
	</div>
</div>


<h2>Media</h2>
<div style="max-width: 600px;">
	<div class="fl-media fl-media--landscape"></div>
	<br>
	<div class="fl-media fl-media--portrait"></div>
</div>

<h2>Media grid</h2>
<div class="fl-media-grid">
	<div class="fl-media-grid__item fl-media-grid__item--large">
		<div class="fl-media fl-media--landscape"></div>
	</div>
	<div class="fl-media-grid__item fl-media-grid__item--large">
		<div class="fl-media fl-media--landscape"></div>
	</div>
	<div class="fl-media-grid__item">
		<div class="fl-media fl-media--landscape"></div>
	</div>
	<div class="fl-media-grid__item">
		<div class="fl-media fl-media--landscape"></div>
	</div>
	<div class="fl-media-grid__item">
		<div class="fl-media fl-media--landscape"></div>
	</div>

	<div class="fl-media-grid__title">
		interviews
	</div>
	<div class="fl-media-grid__item fl-media-grid__item--small">
		<div class="fl-media fl-media--portrait"></div>
	</div>
	<div class="fl-media-grid__item fl-media-grid__item--small">
		<div class="fl-media fl-media--portrait"></div>
	</div>
	<div class="fl-media-grid__item fl-media-grid__item--small">
		<div class="fl-media fl-media--portrait"></div>
	</div>
	<div class="fl-media-grid__item fl-media-grid__item--small">
		<div class="fl-media fl-media--portrait"></div>
	</div>
</div>